<user-profile
    ng-init="tab=1"
    template="user.profile.html">
</user-profile>

<script type="text/ng-template" id="user.profile.html">
<div class="page-header attached-navbar">
    <div class="container-fluid">
        <h1>profile</h1>
        <p class="help-block">hello foo, here are the infomations</p>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-class="{'active': tab === 1}"
                            ng-click="tab=1">
                            <a href>account</a>
                        </li>
                        <li ng-class="{'active': tab === 2}"
                            ng-click="tab=2">
                            <a href>personal info</a>
                        </li>
                        <li ng-class="{'active': tab === 3}"
                            ng-click="tab=3">
                            <a href>secret</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-9">
            <div class="tab-content">
                <div class="tab-pane" ng-class="{'active': tab === 1}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>account information</h2>
                            <p class="help-block">foobar, some of your basic info on jodobox. have fun!</p>
                            <table class="table table-text-top">
                                <tr>
                                    <th>balance</th>
                                    <td>
                                        <div style="margin-bottom: 20px;"><span>$</span><strong>139.00</strong></div>
                                        <div class="well">
                                            <p>recharge balance anytime</p>
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <select class="form-control form-control-normal">
                                                        <option value="0">alipay</option>
                                                        <option value="0">paypal</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">&yen;</div>
                                                        <input class="form-control form-control-normal" type="number" placeholder="100">
                                                        <div class="input-group-addon">.00</div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary" type="button">recharge</button>
                                            </form>
                                            <hr>
                                            <p class="lead text-info"><strong>furthermore</strong>, invite more your friends and own more free balance. copy the following link and then send to your friends. <u tooltip="click to copy" tooltip-placement="bottom" style="cursor: pointer;">https://jodobox.com/invitation/7xh90suj35mode09dke</u></p>
                                            <div>current owned: <span>&yen;</span><strong>50.00</strong> (<em>10 effective friends</em>) <a href>get free book</a></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>boxes</th>
                                    <td><strong>6</strong>&#47;8<sup class="text-warning">attention</sup></td>
                                </tr>
                                <tr>
                                    <th>combo</th>
                                    <td>
                                        <div><strong>free</strong></div>
                                        <div><ins class="text-muted">more combos coming soon</ins></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" ng-class="{'active': tab === 2}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <legend>foos personal infomations</legend>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label" for="id__email">email</label>
                                    <div class="col-xs-9">
                                        <p class="form-control-static" id="id__email">foobar@gmail.com<span class="text-success" tooltip="verified"><i class="glyphicon glyphicon-ok-circle"></i></span></p>
                                        <p class="help-block">email cannot be changed.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label" for="id__username">username</label>
                                    <div class="col-xs-9">
                                        <input class="form-control hidden" type="text" id="id__username" value="foobar">
                                        <p class="form-control-static">foobar<a href><i class="glyphicon glyphicon-edit"></i></a></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label" for="id__location">location</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="text" id="id__location" placeholder="e.g. shanghai, china">
                                        <p class="help-block">we will info you if there were meetups based on your location.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label" for="id__mobile">mobile</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="text" id="id__mobile" placeholder="e.g. 187 5858 8356">
                                        <p class="help-block hidden"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-offset-3 col-xs-9">
                                        <button class="btn btn-primary btn-lg" type="button" disabled>save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" ng-class="{'active': tab === 3}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <legend>change password</legend>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label" for="id__password">new password</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="password" id="id__password" placeholder="new password here...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label" for="id__old-password">old password</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="password" id="id__old-password" placeholder="current password">
                                        <p class="help-block"><i class="glyphicon glyphicon-lock"></i>we need your old password to make the change.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-offset-3 col-xs-9">
                                        <button class="btn btn-primary btn-lg" type="button" disabled>save change</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</script>
